@import "../Utils/mixins.scss";
@import "../Utils/animation.scss";
@import "../Utils/Colors.scss";

.section1 {
  text-align: center;

  & h2 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  & p {
    font-size: 1rem;
  }

  & button {
    @include Button;
  }
}

.loader-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  z-index: 1;
  animation: disappear 5ms;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transform-origin: top;
  display: grid;
  object-position: center;
  .loader-animation {
    font-family: "shrikhand", "sans-serif";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include gradient(0.9);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 0 $tertiary;
    animation: pulsing 1.4s linear infinite;
  }
}
